# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Python / virtual env
.venv/
venv/
env/
__pycache__/

# Node
node_modules/

# System / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
